{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<h1 class="collection-title">{{ collection.title }}</h1>

<div class="collection-products">
  {% paginate collection.products by 24 %}
    <ul class="product-grid" role="list">
      {% for product in collection.products %}
        <li>
          {% render 'product-card', product: product %}
        </li>
      {% endfor %}
    </ul>

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% stylesheet %}
  .collection-title {
    margin-block: var(--space-lg);
    font-size: var(--font-size-xl);
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg) var(--space-sm);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (min-width: 750px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-xl) var(--space-lg);
    }
  }

  @media (min-width: 1100px) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .collection-products > .pagination,
  .collection-products > span {
    display: block;
    margin-block: var(--space-xl);
    text-align: center;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
